*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(214, 103, 214), rgb(69, 220, 69));
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}

.active{
    background-color: rgb(214, 103, 214) ;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #111;
}

h1{
    background-color: black;
    padding: 10px;
    margin: 0;
    color: rgb(255,0,255);
}

footer{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo{
    max-width: 5rem;
}

.nav-list{
    display:flex;
    list-style-type: none;
    gap:1rem;
}

.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu, .cerrar-menu{
    display: none;
}


@media screen and (max-width: 550px) {

    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu{
        color:#1c1c1c;
    }

    .cerrar-menu{
        color:#ececec;
    }

    .nav{
        opacity: 0;
        visibility: hidden;

        display:flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
        z-index: 1000; /* Asegura que esté al frente */
    }

   .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a{
        color: #ececec;
    }
}